<div class="panel panel-primary" id="page_content">
  <div class="panel-heading" id="title_div">
    <h3 class="panel-title" id="title">Error</h3>
  </div>
  <div class="panel-body" id="page_body">
    <h4><span id="message" class="text-danger">Username was incorrect.</span></h4>
  </div>
  <br />
  <br />
  <div id="footer" class="panel-footer">
    <ul class="list-inline" id="menu">
      <li><a id="logout" href="/">Try again</a></li>
    </ul>
  </div>
</div>
