<div class="panel panel-primary" id="page_content">
	<div class="panel-heading" id="title_div">
		<h3 class="panel-title" id="title">Create User</h3>
	</div>
	<div class="panel-body" id="page_body">
    <% if $message %>
      <% if $message %>
        <h4 class="alert" class="text-success">
      <% else %>
        <h4 class="alert" class="text-danger">
      <% end %>
      <%= $message %></h4>
    <% end %>
    <label for="user_list" id="user_list_label">Users list:</label><br>
    <ul id="users_list">
			<% $users.each do |user| %>
			  <li><%= user %></li>
			<% end %>
		</ul>
  </div>
  <br />
  <br />
  <div id="footer" class="panel-footer">
		<ul class="list-inline" id="menu">
			<li><a id="create_user" href="/create_user">Create a user</a></li>
			<li>|</li>
			<li><a id="logout" href="/">Logout</a></li>
		</ul>
	</div>
</div>
